.bgimage{
    background-image: url("/Users/mary.j/2023/spring/webdev/recipes-react-web-app/recipes-react-web-app/public/images/bcg2.webp");

    background-size: cover;
    background-repeat: no-repeat;

}