body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.primary-text {
  color: #E25B05 !important;
}

.primary-bg {
  background: #E25B05 !important;
  color: white !important;
}

.primary-border {
  border: 1px solid;
  border-color: #E25B05 !important;
  border-radius: 30px;
}